{% load static %}
<div class="card account-post__card" style="width: 18rem;">
  {% if post.deleted == True %}
    <div class="account-post__deleted"></div>
  {% endif %}
  <img src="{{ post.image }}" class="card-img-top" alt="image">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <div class="card-text account-card-text">{{ post.body|safe }}</div>
    <div class="d-flex flex-row align-items-center justify-content-between">
      <a href="/posts/{{ post.id }}" class="btn {% if post.deleted == True %}btn-light{% else %}btn-dark{% endif %}">Посмотреть</a>
      <div class="account-post-card-meta d-flex flex-row">
        <div class="card-meta__item" style="margin-right: 10px;">
          <i class="fas fa-eye"></i>
          <span>{{ post.views_count|default_if_none:0 }}</span>
        </div>
        <div class="card-meta__item">
          <i class="fas fa-comment-alt"></i>
          <span>{{ post.comments_count|default_if_none:0 }}</span>
        </div>
      </div>
    </div>
  </div>
</div>