{% extends 'main/layouts/layout.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
  <div class="h-100 login__container d-flex justify-content-center align-items-center">
    <div class="form__card">
      {% include 'main/components/login_form.html' %}
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'register' %}">Впервые здесь? Зарегистрироваться</a>
      <a class="dropdown-item" href="#">Забыли пароль?</a>
    </div>
  </div>
{% endblock %}
