{% extends 'main/layouts/layout.html' %}

{% block links %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block title %}{{ post.title|default:'Пост' }}{% endblock %}
{% block content %}
<main style="overflow-y: auto; height: 100%;">
  {% include 'main/components/header.html' %}
  <div class="container pt-3">
    <div class="row">
      <div class="col-12">
        {% if post.creator.id == request.user.id %}
          <div class="mb-2">
            <a href="/account/posts/{{ post.id }}/edit" class="btn btn-light">Редактировать</a>
            {% if post.deleted is not True %}
              <button data-post-id="{{ post.id }}" id="deletePostLink" class="btn btn-danger">Удалить</button>
            {% else %}
              <button data-post-id="{{ post.id }}" id="recoveryPost" class="btn btn-success">Восстановить</button>
            {% endif %}
          </div>
        {% endif %}
        {% if post.image is not None and post.image != '' %}
          <img src="{{ post.image }}" class="img-fluid post-image rounded" alt="image">
        {% endif %}
        <div class="post-author mt-3">
          <a class="comment-author__link color-dark" href="{% url 'account_home' %}" style="margin-right: 10px;">
            <img
              src="{{ post.creator.avatar | default_if_none:'/static/main/img/not_image.png' }}"
              alt="Avatar"
              class="avatar"
              style="width: 30px; height: 30px;"
            >
            {{ post.creator.first_name }} {{ post.creator.last_name|default_if_none:'' }}
          </a>
          <span class="post-create-date">{{ post.created_at|date:"d M, Y" }} в {{ post.created_at|date:'m:H' }}</span>
        </div>
        <h1 class="mt-1 post-title">{{ post.title }}</h1>
        <div class="post-body">
          {{ post.body|safe }}
        </div>
        <hr>
        <div class="d-flex flex-row align-items-center justify-content-between">
          <div class="account-post-card-meta d-flex flex-row">
            <div class="card-meta__item" style="margin-right: 10px;">
              <i class="fas fa-eye"></i>
              <span>{{ post.views_count|default_if_none:0 }}</span>
            </div>
            <div class="card-meta__item">
              <i class="fas fa-comment-alt"></i>
              <span>{{ post.comments_count|default_if_none:0 }}</span>
            </div>
          </div>
        </div>
        <hr>
        <h2>Комментарии {{ post.comments_count|default_if_none:0 }}</h2>
        <hr>
        {% if post.comments|length %}
          <div class="post-comments mb-3">
            {% for comment in post.comments %}
              {% if comment.parent_id is None %}
                {% include 'main/components/comment.html' %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {% if request.user.id %}
          {% include 'main/components/comment_form.html' %}
        {% else %}
        <div class="mb-5 mt-5" style="font-weight: bold; font-size: large;">
          Только авторизированные пользователи могут оставлять комментарии. <a href="{% url 'login' %}">Войдите</a>, пожалуйста.
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% include 'main/components/footer.html' %}
</main>
{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="{% static 'main/js/post.js' %}"></script>
{% endblock %}