<nav class="navbar navbar-dark bg-dark">
  <div class="container header__container">
    <div class="row w-100 align-items-center">
      <div class="col">
        {% include 'main/components/logo.html' %}
      </div>
      <div class="col p-0">
        <ul class="header-menu text-end m-0">
          <li class="header-menu__elem">
            <a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Главная</a>
          </li>
          <li class="header-menu__elem">
            <a href="#">Конакты</a>
          </li>
          <li class="header-menu__elem m-0">
            <a class="{% if request.path == '/login/' %}active{% endif %}" href="{% url 'login' %}">Войти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>