<aside class="recommend">
  <div class="recommend__header">
    <h3 class="recommend__header-title">
      Рекомендуем
    </h3>
  </div>
  <div class="recommend__content">
    <ul class="content-list">
      <li class="content-list__item">
        <a class="list__item-title" href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo deleniti delectus soluta, cumque libero numquam veritatis sit! Amet beatae maiores commodi rem eligendi quisquam, sapiente accusamus velit deserunt aut!</a>
        <div class="list__item-meta">
          <div class="meta__item">
            <i class="fas fa-eye"></i>
            <span class="meta__item-counter">12</span>
          </div>
          <div class="meta__item">
            <i class="fas fa-comment-alt"></i>
            <span class="meta__item-counter">12</span>
          </div>
        </div>
      </li>
      <li class="content-list__item">
        <a class="list__item-title" href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo deleniti delectus soluta, cumque libero numquam veritatis sit! Amet beatae maiores commodi rem eligendi quisquam, sapiente accusamus velit deserunt aut!</a>
        <div class="list__item-meta">
          <div class="meta__item">
            <i class="fas fa-eye"></i>
            <span class="meta__item-counter">12</span>
          </div>
          <div class="meta__item">
            <i class="fas fa-comment-alt"></i>
            <span class="meta__item-counter">12</span>
          </div>
        </div>
      </li>
      <li class="content-list__item">
        <a class="list__item-title" href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quo deleniti delectus soluta, cumque libero numquam veritatis sit! Amet beatae maiores commodi rem eligendi quisquam, sapiente accusamus velit deserunt aut!</a>
        <div class="list__item-meta">
          <div class="meta__item">
            <i class="fas fa-eye"></i>
            <span class="meta__item-counter">12</span>
          </div>
          <div class="meta__item">
            <i class="fas fa-comment-alt"></i>
            <span class="meta__item-counter">12</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>